@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/servicepagestyle.css" />

<div class="container-fluid" style="margin-left: 250px;">

    <!-- do ur code in here like in this div-->
    <h1>Services</h1>
    <p>Search and view details of all registered customers.</p> 
    <form method="get" action="/Admin/Services" class="form-inline">
        <input type="text" name="searchQuery" class="form-control mr-sm-2" placeholder="Search by service info... " aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        <div class="col-md-2">
            <a href="/Admin/Services" class="btn btn-secondary">Display All</a>
        </div>
    </form> 

    <div class="service-cards-container">
        @if (ViewBag.Services != null)
        {
            foreach (var service in ViewBag.Services)
            {
                <section class="service-card">
                    <h2 class="service-name">@service.Name</h2>
                    <p class="@(service.Status == "Not Started" ? "status-badge-not-started" :
            service.Status == "Completed" ? "status-badge-completed" :
            service.Status == "Busy" ? "status-badge-busy" : "")">
                        Status: @service.Status
                    </p>
                    <div class="service-details">
                        <table style="width: 100%;">
                            <tr>
                                <td><strong>Customer:</strong></td>
                                <td>@service.Customer</td>
                            </tr>
                            <tr>
                                <td><strong>Vehicle:</strong></td>
                                <td>@service.Model</td>
                            </tr>
                            <tr>
                                <td><strong>Number Plate:</strong></td>
                                <td>@service.NumberPlate</td>
                            </tr>
                            <tr>
                                <td><strong>Date Taken In:</strong></td>
                                <td>@service.DateTakenIn</td>
                            </tr>
                            <tr>
                                <td><strong>Date Vehicle Returned:</strong></td>
                                <td>@service.DateReturned</td>
                            </tr>
                            <tr>
                                <td><strong style="color: #EE2F2E;">Total Cost:</strong></td>
                                <td style="color: #EE2F2E;">@service.TotalCost</td>
                            </tr>
                        </table>
                    </div>
                </section>
            }
        }
        else
        {
            <p>No services available.</p>
            <p style="color: #EE2F2E;">@ViewBag.ErrorMessage</p>
        }
    </div>


